<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta</title>
</head>
<body>
    <h1>Crea tu cuenta en DishHub</h1>
    <form action="/receta" method="POST">

        <label for="nombre_receta">Nombre de la Receta:</label>
        <input type="text" id="nombre_receta" name="nombre_receta" required>

        <label for="descripcion_receta">Descripcion de la Receta:</label>
        <input type="text" id="descripcion_receta" name= "descripcion_receta" required>
        
        <label for="ingredientes">Ingredientes:</label>
        <input type="text" id="ingredientes" name= "ingredientes" required>

        <button type="submit">Crea tu receta</button>
    </form>
    
</body>
</html>