{% extends 'base.html' %}

{% block tittle %} {{receta_buscada.nombre_receta}} {% endblock %}


{% block body %}

<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
      <!-- Image gallery -->
      <div class="flex flex-col-reverse">
        <!-- Image selector -->
        <div class="mx-auto mt-6 hidden w-full max-w-2xl sm:block lg:max-w-none">
          <div class="grid grid-cols-4 gap-6" aria-orientation="horizontal" role="tablist">
            

            <!-- More images... -->
          </div>
        </div>

        <div class="aspect-h-1 aspect-w-1 w-full">
          <!-- Tab panel, show/hide based on tab state. -->
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
            <img src="{{ receta_buscada.image_path }}" alt="Foto de la receta">
          </div>

          <!-- More images... -->
        </div>
      </div>

      <!-- Product info -->
      <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{receta_buscada.nombre_receta}}</h1>

        <div class="mb-5">
          <p class="text-ls text-right tracking-tight text-gray-400">
            Hecho por: 
            <a href="{{ url_for('recipe_of_user', id_usuario=receta_buscada.user.id) }}">             
              <span class="underline">{{ receta_buscada.user.username }}
            </a>
          </p>
          
      </div>

        <div class="mt-6">
          <h3 class="sr-only">Description</h3>

          <div class="space-y-6 text-base text-gray-700">
            <p>{{receta_buscada.descripcion_receta}}</p>
          </div>
        </div>
        
        <div class="mt-6">
          <div class="space-y-6 text-base text-gray-700">
            <p>Creado el: {{receta_buscada.fecha_receta}}</p>
          </div>
        </div>


        <div class="mt-10 flex">
          {% if current_user.is_authenticated %}
          {% if current_user.rol == 'admin' or receta_buscada.user_id == current_user.id or current_user.username in receta_buscada.colaboradores.split(',') %}
          <a href="/recipe_edit/{{receta_buscada.id}}">
            <button type="submit" class="flex max-w-xs flex-1 items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full">Editar</button>
          </a>
          {% endif %}
          {% endif %}
        </div>  

        <section aria-labelledby="details-heading" class="mt-12">
          <h2 id="details-heading" class="sr-only">Additional details</h2>

          <div class="divide-y divide-gray-200 border-t">
            <div>
              <h3>
                <!-- Expand/collapse question button -->
                <button type="button" class="group relative flex w-full items-center justify-between py-6 text-left" aria-controls="disclosure-1" aria-expanded="false">
                  <!-- Open: "text-indigo-600", Closed: "text-gray-900" -->
                  <span class="text-gray-900 text-sm font-medium">Ingredientes</span>
                  <span class="ml-6 flex items-center">
                  <!-- Open: "block", Closed: "hidden" -->
                    <svg class="hidden h-6 w-6 text-indigo-400 group-hover:text-indigo-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                    </svg>
                  </span> 
                </button>
              </h3>
              <div class="prose prose-sm pb-6" id="disclosure-1">
                  <pre>{{ receta_buscada.ingredientes}} </pre>
              </div>
            </div>
            <!-- More sections... -->
          </div>
        </section>
      </div>
    </div>
  </div>
</div>



  <!-- ###### ZONA COLABORADORES!!! ##### -->
  {% if colaboradores%}

  <div class="mx-auto p-10 max-w-7xl px-4 sm:px-6 lg:px-8">
    {% if current_user.rol == 'admin' or receta_buscada.user_id == current_user.id %}
    <h1 class="text-center">
      <u>
        <a href="{{ url_for('colaboradores', receta_id=receta_buscada.id) }}">
          Colaboradores
        </a>
      </u>
    </h1>
    {% else %}
    <h1 class="text-center">Colaboradores</h1>
      
    {% endif %}
    <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
    <div class="mx-auto max-w-3xl">
      <!-- Content goes here -->
      
        
      
      <ul role="list" class="divide-y divide-gray-100">
        {% for colaborador in colaboradores %}
        
        <li class="flex justify-between gap-x-6 py-5">
          <div class="flex gap-x-4">
            <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            <div class="min-w-0 flex-auto">
              <p class="text-sm font-semibold leading-6 text-gray-900">
                <p>{{ colaborador.nombre }} {{ colaborador.apellido }}</p>
              </p>
              <p class="mt-1 flex text-xs leading-5 text-gray-500">
                <a href="{{ url_for('recipe_of_user', id_usuario=colaborador.id) }}"" class="truncate hover:underline">{{ colaborador.username }}</a>
              </p>
            </div>
          </div>
          <div class="flex items-center gap-x-6">
            
            <div class="relative flex-none">
              <button onclick="colab('{{ colaborador.id }}')" type="button" class="-m-2.5 block p-2.5 text-gray-500 hover:text-gray-900" id="options-menu-0-button" aria-expanded="false" aria-haspopup="true">
                <span class="sr-only">Open options</span>
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z" />
                </svg>
              </button>
      
              <!--
                Dropdown menu, show/hide based on menu state.
      
                Entering: "transition ease-out duration-100"
                  From: "transform opacity-0 scale-95"
                  To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                  From: "transform opacity-100 scale-100"
                  To: "transform opacity-0 scale-95"
              -->
              <div id="colabs-{{ colaborador.id }}" class="hidden absolute right-0 z-10 mt-2 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu-0-button" tabindex="-1">
                <a href="{{ url_for('recipe_of_user', id_usuario=colaborador.id) }}" class="block px-3 py-1 text-sm leading-6 text-gray-900" role="menuitem" tabindex="-1" id="options-menu-0-item-0">Ver recetas<span class="sr-only">, Leslie Alexander</span></a>
              </div>
            </div>
          </div>
        </li>
        
        {% endfor %}
        
      </ul>
      
    </div>
  </div>
  {% endif %}
  
  <!-- ## TERMINA COLABORADORES ## -->
  
  
  
  <!-- ## COMENTARIOSSS ## -->
  
  <div class="mx-auto p-10 max-w-7xl px-4 sm:px-6 lg:px-8">
    <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
    <h1 class="pb-4 text-center" >Comentarios</h1>
    <div class="mx-auto max-w-3xl">
      <!-- Content goes here -->
  
  
      <div class="bg-white">
          <div>
            <h2 class="sr-only">Reviews</h2>
        
            <div class="-my-10">
              <div class="flex space-x-4 text-sm text-gray-500">
                <div class="flex-none py-10">
                  <img src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                </div>
                <div class="flex-1 py-10">
                  <h3 class="font-medium text-gray-900">Emily Selman</h3>
                  <p><time datetime="2021-07-16">July 16, 2021</time></p>
        
                  <div class="mt-4 flex items-center">
                    <!-- Active: "text-yellow-400", Default: "text-gray-300" -->
                    <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <p class="sr-only">5 out of 5 stars</p>
        
                  <div class="prose prose-sm mt-4 max-w-none text-gray-500">
                    <p>El mejor guiso que comi en mi vida</p>
                  </div>
                </div>
              </div>
              <div class="flex space-x-4 text-sm text-gray-500">
                <div class="flex-none py-10">
                  <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                </div>
                <div class="flex-1 py-10 border-t border-gray-200">
                  <h3 class="font-medium text-gray-900">Chef Ramsey</h3>
                  <p><time datetime="2021-07-12">July 12, 2021</time></p>
        
                  <div class="mt-4 flex items-center">
                    <!-- Active: "text-yellow-400", Default: "text-gray-300" -->
                    <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                    <svg class="text-yellow-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <p class="sr-only">5 out of 5 stars</p>
        
                  <div class="prose prose-sm mt-4 max-w-none text-gray-500">
                    <p>Esta receta es una verdadera obra maestra culinaria. Los caracoles son cocinados a la perfección, tiernos y jugosos, mientras que el caldo es profundamente sabroso y lleno de sabor. Cada cucharada es una explosión de deliciosos aromas y texturas. Sin duda, este guiso de caracol merece el más alto reconocimiento gastronómico.</p>
                  </div>
                </div>
              </div>
        
              <!-- More reviews... -->
            </div>
          </div>
        </div>
        
        </div>
        
      </div>
  
    </div>
  </div>
  <!-- ## TERMINA COMENTARIOSSS ## -->




{% endblock %}