<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc</title>
</head>
<body>
    <form action="/receta_nueva" method="POST">

        <label for="nombre_receta">Nombre de la Receta:</label>
        <input type="text" id="nombre_receta" name="nombre_receta" required>     
        <label for="email">Descripcion:</label>
        <input type="text" id="descripcion_receta" name="descripcion_receta" required>
        <button type="submit" class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Crea tu receta</button>

</body>
</html>