{% extends 'base.html' %}

{% block tittle %} Editar {{user.username}} {% endblock %}


{% block body %}

<form action="/user_edit/{{user.id}}" method="POST" enctype="multipart/form-data">

    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
        <div class="mx-auto max-w-3xl">
            <div class="px-4 sm:px-6 lg:px-8">
                <div class="sm:flex sm:items-center">
                <div class="sm:flex-auto">
                    <h1 class="text-base font-semibold leading-6 text-gray-900">Editor</h1>
                    <p class="mt-2 text-sm text-gray-700">Panel de edicion de usuarios.</p>
                </div>
                
                </div>
                <div class="mt-8 flow-root">
                    
                    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                            <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-300">
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Nombre</th>
                                            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Apellido</th>
                                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Usuario</th>
                                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Rol</th>
                                        </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200 bg-white">

                                        <tr class="">
                                            <td class="pl-2 pt-2 pb-2">
                                                <div>
                                                    <label for="nombre" class="sr-only">Nombre</label>
                                                    <input type="text" name="nombre" id="nombre" value="{{user.nombre}}" class="block w-full pl-2 rounded-md border-0 py-1.5 pl-2s text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#CACC90] sm:text-sm sm:leading-6" placeholder="you@example.com">
                                                </div>
                                            </td>
                                            <td class="pl-2 pt-2 pb-2">
                                                <div>
                                                    <label for="apellido" class="sr-only">Apellido</label>
                                                    <input type="text" name="apellido" id="apellido" value="{{user.apellido}}" class="block w-full pl-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#CACC90] sm:text-sm sm:leading-6" placeholder="you@example.com">
                                                </div>
                                            </td>

                                            <td class="pl-2 pt-2 pb-2">
                                                <div>
                                                    <label for="username" class="sr-only">Username</label>
                                                    <input type="text" name="username" id="username" value="{{user.username}}" class="block w-full pl-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#CACC90] sm:text-sm sm:leading-6" placeholder="you@example.com">
                                                </div>
                                            </td>

                                            <td class="pl-2 pr-4 pt-2 pb-2">
                                                <div>
                                                    <select id="rol" name="rol" class="block w-full pl-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#CACC90] sm:text-sm sm:leading-6">
                                                        <option value="gastronomo" {% if user.rol == "gastronomo" %}selected{% endif %}>Gastronomo</option>
                                                        <option value="admin" {% if user.rol == "admin" %}selected{% endif %}>Admin</option>
                                                    </select>


                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="flex justify-end pt-4">
                            <a href="javascript:history.back()" class="pr-4 ">
                                <button type="button" class="pr-4 rounded-md bg-[#75704E] px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-[#CACC90] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
                                    Cancelar
                                </button>                                        
                            </a>

                            <div class="pr-4">
                                <button type="submit" class="pr-4 rounded-md bg-[#CACC90] px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-[#75704E] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#CACC90]">
                                    Guardar
                                </button>
                            </div>
                                
                        </div>
                        <a onclick="check()" href="{{ url_for('user_del', id=user.id) }}" class="flex justify-end m-4">
                            <button type="button" class="rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
                                Eliminar
                            </button>
                        </a>
                        
                    </div>
                </div>
                
            </div>
            


        </div>
    </div>
</form>

{% endblock %}